<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

<connectionStrings>

		<add name="AdminConn" connectionString="Data Source=G2K-GUCE-STAGE;Initial Catalog=APPLICATIONS;user id=sa;password=absarr_26" providerName="System.Data.SqlClient"/>

  </connectionStrings>
</configuration>